body { 
	margin: 0; 
}

canvas {
	width: 100%; 
	height: 100% 
}


/*holder of the scene*/
#renderStatsHolder{
	display: none;
}

#cityChooser{
	position:absolute;
	left:10px;
	top:30px;
	z-index:100;
	text-align: center;
	font-size: 20px;
	min-width:100px;
	color: #333333;
	font-family: verdana, arial;

}

.dropdown-city{
	text-align: center;
	font-size: 18px;
	width:100px;
	color: #333333;
	font-family: verdana, arial;
}


#datasourceChooser{
	position:absolute;
	left:10px;
	top:65px;
	z-index:100;
	text-align: center;
	font-size: 20px;
	min-width:100px;
	color: #333333;
	font-family: verdana, arial;
	display:none;	
}

#toggleAutoCam{
	position:absolute;
	left:10px;
	top:100px;
	z-index:100;
	text-align: center;
	font-size: 20px;
	min-width:100px;
	color: #333333;
	font-family: verdana, arial;
	display: none;	
}



.dropdown-data{
	font-size: 18px;
	color: #333333;
	font-family: verdana, arial;
}

.dropdown-data input{
	margin-bottom:10px;
	margin-top:10px;
}

.dropdown-data > ul > div{
	display: none;
}



#infoBox{
	display: none;
	position: absolute;
	z-index: 1;
	right: 5px;
	top: 5px;
	width:200px;
	height:60%;
	background-color: #cac4ce;
	padding:10px;
	opacity: 0.7;
	font-family: verdana, arial;
	border-radius: 2px;
}

#infoBox > #serverity > #serverityType {
	margin-bottom: 5px;
}

#infoBox > #legend {
	position: absolute;
	bottom:10px;
	
	font-size:10px;
}

#infoBox > #legend > #parking {
	color: #267326;
}

#infoBox > #legend > #traffic {
	color: #0059b3;
}

#infoBox > #legend > #airpollution {
	color: #1a1a00;
}

#infoBox > #legend > #noiselevel {
	color: #cc0000;
}


#infoBox > #legend > #severityHeader {
	margin-top:10px;
}

#infoBox > #legend > #interaction {
	margin-top:5px;
	font-size:8px;
}


#guiHolder{
	position: absolute;
	top:5px;
	right:10px;
	display: none;
}


.spinner-holder{
	width:100%;
	height:100%;
	
	position: absolute;
	top:0px;
	left:0px;
}

.spinner {
  width: 100px;
  height: 100px;

  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.spinner-holder .spinner-text{
	text-align: center;
	font-size: 30px;
	color: #333333;
	font-family: verdana, arial;
}

.spinner-holder .spinner-text#infoText{
	font-size: 20px;
}

#loading{
	opacity:0;
}



.bar {
	fill: steelblue;
}

.axis {
	font: 10px sans-serif;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.x.axis path {
	display: none;
}